<div class="modal" id="monsieurbiz-rich-editor-confirmation-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'sylius.ui.confirm_your_action'|trans }}
            </div>
            <div class="modal-body text-center">
                <p>{{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                        {{ 'sylius.ui.no_label'|trans }}
                    </button>
                    <button class="btn btn-success" type="button" id="monsieurbiz-rich-editor-confirmation-button" data-dismiss="modal">
                        {{ 'sylius.ui.yes_label'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
