{#
    UI Element template
    type: columns
    element fields :
        content
#}
{% if element.content|default('') is not empty %}

{% set content = monsieurbiz_richeditor_get_elements(element.content) %}
{% set length = content|length %}

<div class="container">
    <div class="row row-cols-{{ length }}">
        {% for row in content %}
            <div class="col" style="border: 2px dashed rgba(34,36,38,0.38); padding: 10px;">
                {{ row | monsieurbiz_richeditor_render_element }}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
